@model BlogHomePageViewModel
@inject Microsoft.Extensions.Options.IOptions<BlogWebApp.AppSettings> AppSettings


<h1>@AppSettings.Value.BlogName</h1>


@if (!Model.BlogPostsMostRecent.Any())
{
    <div class="alert alert-info">There are no posts in this blog.</div>
}


@foreach (var bp in Model.BlogPostsMostRecent)
{
    <h3 class="mt-5"><a class="text-dark" asp-controller="BlogPost" asp-action="PostView" asp-route-slug="@bp.Slug">@bp.Title</a></h3>
    @if (User.IsInRole("Admin"))
    {
        <a href="/post/edit/@bp.PostId">edit</a>
    }
    <p>Written by: @bp.AuthorUsername</p>
    <p>
        @Html.Raw(bp.Content)
    </p>
}